@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  /* Neutral colors */

  -almost-white: hsl(0, 0%, 98%);
  --medium-gray: hsl(0, 0%, 41%);
  --almost-black: hsl(0, 0%, 8%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Epilogue", sans-serif;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); /* Semi-transparent black */
  backdrop-filter: blur(2px); /* Blur effect */
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
}

.overlay.active {
  opacity: 1;
  visibility: visible;
}

main {
  width: 100%;
  height: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.mobile-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.hamburger-menu {
  height: 100%;
}

.sidebar {
  position: fixed;
  z-index: 2;
  top: 0;
  right: -300px;
  height: 100vh;
  padding: 8rem 2rem;
  box-shadow: -4px 0 10px rgba(0, 0, 0, 0.5);
  transition: right 0.3s ease-in-out;
  background-color: white;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 250px;
  color: var(--medium-gray);
  font-weight: 600;
  font-size: 1.2rem;
}

.link-title {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.link-menu {
  display: none;
  flex-direction: column;
  gap: 1.5rem;
  font-size: 1rem;
  padding-left: 1rem;
}

.features-link {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  opacity: 0.8;
}

.company a,
.link-title a {
  color: var(--medium-gray);
}

.sidebar-btn {
  border: none;
  outline: none;
  font-size: 1.2rem;
  background: none;
  color: var(--medium-gray);
  text-align: center;
  width: 100%;
}

.register-btn {
  border: 2px solid var(--medium-gray);
  padding: 0.7rem 1.5rem;
  border-radius: 1rem;
}

.display {
  display: flex;
}

.rotate {
  transform: rotate(180deg);
  transition: transform 0.1s ease-in-out;
}

.sidebar.show {
  right: 0;
}

.hamburger {
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  width: 2rem;
  height: 2rem;
  justify-content: space-between;
}

.line {
  width: 100%;
  height: 0.3rem;
  background-color: black;
  border-radius: 0.8rem;
  transition: all 0.3s ease-in-out;
}

.hamburger.active .line1 {
  transform: rotate(-45deg) translate(-5px, 5px);
}

.hamburger.active .line2 {
  opacity: 0;
}

.hamburger.active .line3 {
  transform: rotate(45deg) translate(-10px, -10px);
}

.hero-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 1rem;
}

.hero-img {
  width: 100%;
}

.hero-img img {
  width: 100%;
}

.hero-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
}

.hero-info h2 {
  font-size: 2.2rem;
}

.hero-info p {
  padding: 1rem;
  color: var(--medium-gray);
  line-height: 1.5rem;
  font-weight: 500;
}

.hero-btn {
  border: none;
  outline: none;
  background-color: var(--almost-black);
  padding: 1rem 1.2rem;
  color: white;
  font-weight: 700;
  border-radius: 0.7rem;
  font-size: 1.1rem;
  border: 2px solid var(--almost-black);
  cursor: pointer;
}

.hero-btn:hover {
  background-color: white;
  color: var(--almost-black);
  border: 2px solid var(--almost-black);
}

.hero-sponsors {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 1rem;
}

.hero-sponsors img {
  width: 4.5rem;
}

.desktop-nav {
  display: none;
}

.desktop-hero-img {
  display: none;
}

@media screen and (min-width: 800px) {
  .mobile-nav {
    display: none;
  }

  .desktop-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 1.5rem;
    position: relative;
    color: var(--medium-gray);
  }

  .desktop-link-container {
    display: flex;
    align-items: center;
    gap: 2.5rem;
  }

  .desktop-nav-links {
    font-weight: 500;
    font-size: 1.1rem;
    display: flex;
    gap: 4rem;
  }

  .desktop-link-heading:hover,
  .desktop-sub-links span:hover,
  .desktop-sub-links div:hover {
    cursor: pointer;
    color: var(--almost-black);
  }

  .desktop-link-heading {
    display: flex;
    align-items: center;
    gap: 0.3rem;
  }

  .desktop-sub-links {
    position: absolute;
    display: none;
    flex-direction: column;
    background-color: white;
    box-shadow: -4px 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;
    padding: 1rem;
    margin-top: 1rem;
    gap: 1rem;
  }

  .mobile-hero-img {
    display: none;
  }

  .hero-section {
    margin-top: 4rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    align-items: flex-end; /* Aligns items at the bottom */
  }

  .hero-info {
    display: flex; /* Ensure this is flex container */
    flex-direction: column;
    justify-content: space-between;
    gap: 5rem;
  }

  .hero-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 1rem;
    gap: 1.5rem;
    width: 30rem;
    flex-grow: 1; /* Allows hero text to take up available space */
  }

  .hero-info p,
  .hero-info h2 {
    text-align: left;
  }

  .hero-info p {
    padding: 0;
  }

  .hero-info h2 {
    font-size: 4rem;
  }

  .hero-img {
    width: 30rem;
  }

  .desktop-hero-img {
    display: block;
  }

  .hero-sponsors {
    display: flex;
    align-items: flex-end; /* Align sponsors to the bottom of hero-info */
    gap: 1rem;
  }

  .hero-sponsors img {
    width: 6rem;
  }

  .desktop-nav-btns {
    display: flex;
    gap: 2rem;
  }

  .login-btn-desktop,
  .register-btn-desktop {
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    font-weight: 500;
    color: var(--medium-gray);

    font-size: 1.1rem;
  }

  .login-btn-desktop:hover {
    color: var(--almost-black);
  }

  .register-btn-desktop {
    border: 2px solid var(--medium-gray);
    border-radius: 0.5rem;
    padding: 1rem 1.2rem;
  }

  .register-btn-desktop:hover {
    border: 2px solid var(--almost-black);
    color: var(--almost-black);
  }

  .display {
    display: flex;
  }
}
